{% extends 'base.html.twig' %}


{% block body %}
    <div class="card mt-5 p-3">
        <table class="table" data-controller="datatable">
            <thead>
            <tr>
                <th>Nom</th>
                <th>prix</th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td>
                        <h2>{{ product.name }}</h2>
                        <img src="{{ asset('images/images-upload/' ~ product.img) }}" alt="{{ product.name }}" height="150">
                        <div class="d-flex">
                            <a href="#" class="m-1"><i class="far fa-edit"></i></a>
                            <a href="#" class="m-1"><i class="fas fa-trash"></i></a>
                        </div>
                    </td>
                    <td>
                        <div class="visually-hidden">{{ product.price }}</div>
                        <h5>{{ product.price }} €</h5>
                    </td>
                </tr>
            {% endfor %}


            </tbody>
        </table>
    </div>
{% endblock %}